@font-face {
  font-family: 'Geist';
  src: url('fonts/GeistVariableVF.woff2');
  font-display: swap;
}


:root {
  --colors-core: #ffe66d;
  --colors-light: #ffffff;
  --color-dark: #222222;
  --background: var(--colors-core);
  --foreground: var(--colors-dark);
  --family: 'Geist', Arial;
  --font: var(---family);
  --copy: inherit;
  --lh-heading: 1.3;
  --lh-body: 1.7;
  --tiny: ;
  --step-small: ;
  --step-regular: ;
  --step-medium: ;
  --step-big: ;
  --step-large: ;
  --step-xl: ;
  --size-tiny: ;
  --size-small: ;
  --size-regular: ;
  --size-medium: ;
  --size-large: ;
  --fw-light: 100;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --fw-thick: 700;
  --spacing-core: 12px;
  --spacing-margin: 12px;
  --spacing-padding: 12px;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  color: inherit;
  font-weight: normal;
}

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-family: var(--font-family, 'Geist');
  /* font-variation-settings: "wght"${var(--fw-.regular; */
  line-height: var(--lineheight-body);
  transition: background-color 0.3s ease-in-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

@media (max-width: 768px) {
  body {
    padding-bottom: 80px;
  }
}

body ::-moz-selection {
  background: var(--background);
  color: var(--background, #222);
}

body ::selection {
  background: var(--foreground);
  color: var(--background, #222);
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: calc(var(--spacing-margin) * 1px);
}

img {
  display: block;
  width: 100%;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
}

input,
select {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: inherit;
  appearance: none;
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
  padding-right: 5vw;
  padding-left: 5vw;
}

@media (min-width: 992px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
  }
}
